h1 {
    line-height: 3;
    position: relative;
    left: 47px;
    /*right: 183px;*/
    top: 56px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;

/* Text//Light/Primary */

    color: #000000;
}

.choise {
    text-align: center;
    position: relative;
    top: 76px;
    left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

/* Text/Light/Secondary */

    color: #ADADAD;

/* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    position: absolute;
    width: 1100px;
    left: -207px;
    bottom: -2%;
    border-radius: 115px;
}

.logo_second {
    position: absolute;
    right: 107px;
    bottom: 7%;
    border-radius: 115px;
}

.vente {
    position: absolute;
    width: 115px;
    height: 21px;
    left: 280px;
    top: 456px;

/* Subtitle 1M */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
/* Text//Light/Primary */

    color: #000000;
}

.g-center {
    position: absolute;
    width: 106px;
    height: 21px;
    right: 291px;
    top: 456px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

@media only screen and (max-width: 1028px) {
    
    h1 {
        position: absolute;
        left: 283px;
        top: 56px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 102px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    /*.titre {
        text-align: center;
        font-weight: 900;
        font-size: 58px;
    }*/

    .choise {
        position: relative;
        top: 202px;
        left: 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 63px;
        line-height: 19px;
        text-align: center;
        color: #ADADAD;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .logo {
        position: absolute;
        left: -305px;
        top: 183px;
        border-radius: 115px;
    }

    .logo_second {
        position: absolute;
        left: 520px;
        top: 243px;
    }

    .vente {
        position: absolute;
        left: 180px;
        top: 626px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        line-height: 21px;
        color: #000000;
    }

    .g-center {
        position: absolute;
        right: 151px;
        top: 626px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        line-height: 21px;
        color: #000000;
    }
}