h1 {
    position: absolute;
    left: 451px;
    top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.first_img {
    position: absolute;
    left: 455px;
    top: 109px;
}

div {
    position: absolute;
    top: 580px;
    left: 550px;
    color: white;
    padding: 25px;
    background-color: black;
}

.end {
    position: absolute;
    top: 850px;
    left: 660px;
    text-decoration: none;
}

.second_img {
    position: absolute;
    left: 200px;
    top: 409px;
}

#lien {
  color: white;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 995px) {
  
    
    .title {
        position: absolute;
        left: 151px;
        top: 100px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    
    .first_img {
        position: absolute;
        left: 300px;
        top: 109px;
    }

    div {
        position: absolute;
        top: 580px;
        left: 450px;
        color: white;
        padding: 25px;
        background-color: black;
        font-size: 2.5rem;
    }

    .second_img {
        position: absolute;
        left: 100px;
        top: 709px;
    }

    .end {
        position: absolute;
        top: 1250px;
        left: 660px;
        text-decoration: none;
    }

    #lien {
        font-size: 2.5rem;
    }
}